# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
env/
venv/
.venv/

# PyTorch / TensorFlow models
*.h5
*.keras
*.ckpt
*.pb
*.tflite

# Data
data/
*.zip

# OS
.DS_Store
Thumbs.db

# Logs
*.log
